<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smartrick.soul.mapper.CloudMapper">

    <delete id="clearCloudByUser">
        DELETE FROM t_cloud WHERE user_id = ${uid}
    </delete>


</mapper>